$montserrat: Montserrat, sans-serif;
$main-font-color: #e8e8e8;
$menu-bg-color: #e8e8e8;
$navbar-bg-color: #000;
$navbar-link-color: #FFF;
$link-hover-color: #a8a8a8;
$review-text-color: #e8e8e8;
$review-card-bg-color: rgba(0, 0, 0, 0.9);
$side-navbar-box-shadow: 1px 1px 4px #333;
$side-navbar-font-color: #e8e8e8;
$side-navbar-address-font-color: #797979;
$menu-options-bg-color: #323A3F;
$menu-options-box-shadow: 0 2px 6px #333;
$selected-menu-option-border: 2px solid #595959;
$selected-menu-option-hover-color: #797979;
$close-btn-color: #595959;
$menu-heading-bg-color: #000;
$menu-heading-box-shadow: 1px 1px 1px #595959;

$reservation-form-bg-color: #e8e8e8;
$reservation-form-box-shadow: 2px 2px 8px #595959;
$reservation-form-font-color: #595959;